[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playsound = "*"
pydub = "*"

[dev-packages]
pygame = "*"
babel = "*"
sphinx = "*"
pybabel = "*"
doit = "*"
pydocstyle = "*"
flake8 = "*"
setuptools = "*"

[requires]
python_version = "3.10"
